﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="game_login" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>plaync :: 로그인</title>
	<meta http-equiv="Refresh" content="0;URL=/game/gameauth.aspx">    
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body></body>
</html>
